<h1>Edit Todolist</h1>
<br/>
<%= render 'form', todolist: @todolist %>

<%= link_to 'Show', @todolist, class:"btn btn-outline-secondary" %> |
<%= link_to 'Back', todolists_path, class:"btn btn-outline-secondary" %>
